/** Created by TTF.in.ua **/
@font-face {
    font-family: 'Myriad-Web-Pro-Bold';
    src: url('Myriad-Web-Pro-Bold.eot');
    src: url('Myriad-Web-Pro-Bold.eot?#iefix') format('embedded-opentype'),
         url('Myriad-Web-Pro-Bold.woff') format('woff'),
         url('Myriad-Web-Pro-Bold.ttf') format('truetype'),
         url('Myriad-Web-Pro-Bold.svg#Myriad-Web-Pro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}