/** Created by TTF.in.ua **/
@font-face {
    font-family: 'Myriad-Web-Pro-Regular';
    src: url('Myriad-Web-Pro-Regular.eot');
    src: url('Myriad-Web-Pro-Regular.eot?#iefix') format('embedded-opentype'),
         url('Myriad-Web-Pro-Regular.woff') format('woff'),
         url('Myriad-Web-Pro-Regular.ttf') format('truetype'),
         url('Myriad-Web-Pro-Regular.svg#Myriad-Web-Pro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}